*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:darkkhaki;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: helvetica;
}

.container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
}

.box-container{
    height: fit-content;
    width: 25.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    border-radius: 20px;
    border: none;
    font-size: 7rem;
    color: #b0413e;
    background-color: yellow;
    cursor: pointer;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

#msg {
    color: #ffffc7;
    font-size: 5vmin;
    color: green;
}

.hide {
    display: none;
}
